<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SynthControlEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MIDIControllerPageEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SynthControlEditor.Properties.Settings>
            <setting name="FolderMain" serializeAs="String">
                <value />
            </setting>
            <setting name="MidiDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviewOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FormMainPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormPresetPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormDisplayPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormTranslatorsPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="FormSysexPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </SynthControlEditor.Properties.Settings>
        <MIDIControllerPageEditor.Properties.Settings>
            <setting name="FolderMain" serializeAs="String">
                <value />
            </setting>
        </MIDIControllerPageEditor.Properties.Settings>
    </userSettings>
</configuration>